
.Rhistory

.Rproj.user/749ABEDE/build_options

.Rproj.user/749ABEDE/cpp-definition-cache

.Rproj.user/749ABEDE/pcs/debug-breakpoints.pper

*.pper

.Rproj.user/749ABEDE/persistent-state

.Rproj.user/749ABEDE/saved_source_markers

.Rproj.user/749ABEDE/sdb/prop/33A97BB3

.Rproj.user/749ABEDE/sdb/prop/INDEX

.Rproj.user/749ABEDE/sdb/s-E9D3CA12/5B1E34E7

.Rproj.user/749ABEDE/sdb/s-E9D3CA12/lock_file
